@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";
@import "themes/orange";

.app,
.app_modal {
  font: var(--font-m);
  color: var(--inverted-bg-color);
}

.app {
  background: var(--bg-color);
  min-height: 100vh;
}

.content-page {
  display: flex;
}

*::-webkit-scrollbar {
  width: 12px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--code-bg);
  opacity: 0.6;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--card-bg);
  border-radius: 20px;
}
