.loginForm {
  display: flex;
  flex-direction: column;
  padding: 70px 30px 44px;
  width: 70%;
}

@media (width >= 450px) {
  .loginForm { width: 380px; }
}

.loginForm h2 {
  text-align: center;
  margin-bottom: 30px;
}

.input {
  margin-top: 10px;
}

.loginBtn {
  margin: 30px 24px 24px;
  margin-bottom: 0;
  border-radius: 8px;
}
