.sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  position: relative;
  transition: width 0.3s;
}

.switchers {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.lang {
  margin-left: 20px;
}

.collapseBtn {
  position: absolute;
  bottom: 32px;
  right: -32px;
}

.list {
  margin-top: 20px;
  list-style: none;
}

.list li a {
  font-size: 1.2rem;
  cursor: pointer;
  text-decoration: none;
  transition: all 1s;
  padding: 10px 20px;
  opacity: 1;
}

.icon {
  fill: var(--inverted-primary-color);
}

.list li a:hover {
  background-color: #fff;
  border-radius: 7px;
  color: var(--primary-color);

  .icon {
    fill: var(--primary-color);
  }
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    flex-direction: column;
    align-items: center;
  }

  .lang {
    margin-left: 0;
  }

  .list li a {
    justify-content: center;
    align-items: center;
    gap: 0;
    padding: 0;
    min-height: 50px;
  }

  .list li a span {
    opacity: 0;
    transform: 0.1s opacity;
    width: 0;
  }
}
