.item a {
  font-size: 1.2rem;
  color: var(--inverted-primary-color);
  cursor: pointer;
  text-decoration: none;
  transition: all 1s;
  display: flex;
  justify-content: start;
  gap: 20px;
  padding: 10px 20px;
  opacity: 1;
}

.icon {
  fill: var(--inverted-primary-color);
}

.item a:hover {
  background-color: #fff;
  border-radius: 7px;
  color: var(--primary-color);

  .icon {
    fill: var(--primary-color);
  }
}

.collapsed {
  .item a span {
    opacity: 0;
    transform: 0.1s opacity;
    width: 0;
    color: var(--inverted-primary-color);
  }
}
