:root {
  --bg-color: #f4fbf9;
  --inverted-bg-color: #9fd3c7;
  --primary-color: #9fd3c7;
  --inverted-primary-color: white;
  --secondary-color: #85c791;
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);
  --code-bg: #fff;
  --card-bg: #e0f9f2;
}
